include partial-views/head
  link(rel="stylesheet", href="/css/navbar.css")
  link(rel="stylesheet", href="/css/index.css")
  link(rel="stylesheet", href="/css/discussion.css")
  title= discussion.title
body(class='discussion-body bg-body')
  include partial-views/navbar
  div(class='wrapper')
    div(class='discussion float')
      div(class='img-container')
        img(src=discussion.img_url alt="")
      article(class='article')
        header(class='header')
          h1 #{discussion.title} 
          .author-details
            p #{user.first_name + ' ' + user.last_name}, #{discussion.created_at.toDateString()}
        .description
          p #{discussion.description}
    // Form
    form(class='comment-form float', method="POST", action=`comment?id=${discussion.id}`)
      h3 Have something to say? Leave your opinion
      textarea(name="content" required) 
      button(type='submit', class='post-btn') Post
    // Posts
    div(class='comments float')
      header 
        h2 Discussion
      each comment in comments
        div(class='comment-item float')
          .comment-header
            h3 #{comment.username}
          p #{comment.content}
          p #{comment.created_at.toDateString()}
  include partial-views/footer
